.header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  margin-top: 5rem;
}

.headerImg {
  flex: 0 0 30%;
}
.headerImg img {
  width: 100%;
}
.headerText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 35%;
  gap: 4rem;
}
.headerText h4 {
  font-size: 3rem;
}

.headerText h2 {
  font-size: 4.5rem;
}
.headerText p {
  font-size: 2rem;
}
.headerText button {
  font-size: 2rem;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffc71f;
  padding: 1rem 2rem;
  width: 15rem;
  height: fit-content;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.headerText button:hover {
  box-shadow: 3px 3px 0px 0px black;
}

@media (max-width: 850px) {
  .headerText {
    gap: 20px;
  }

  .headerText h4 {
    font-size: 2rem;
  }
  .headerText h2 {
    font-size: 3rem;
  }
  .headerText p {
    font-size: 2rem;
  }
  .headerText button {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin-top: 1rem;
  }
  .headerImg {
    width: 70%;
    margin-bottom: 5rem;
  }
  .headerText {
    gap: 10px;
  }
  .headerText h4 {
    font-size: 1.5rem;
  }
  .headerText h2 {
    font-size: 2rem;
  }
  .headerText p {
    font-size: 1.2rem;
  }
  .headerText button {
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 12rem;
  }
}
